/* Structural styles */
html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    background-color: #1a1a1a;
    color: #ccc;
}

/* This wrapper is required to hide horizontal
   scrollbars on mobile devices */
#viewport {
    width: calc(100% - 60px);
    height: calc(100% - 100px);
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #000 #26262b;
    /* border: 1px solid orange; */
}

    #viewport::-webkit-scrollbar {
        width: 10px;
    }
    #viewport::-webkit-scrollbar-track {
        background: #000;
    }
    #viewport::-webkit-scrollbar-thumb {
        background: #26262b;
    }

/* Dark translucent backdrop used for loading screen */
#shadow-backdrop {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 140px);
    z-index: 1000;
    background-color: rgba(26, 26, 26, 0.8);
}

    #loading-anim,
    #shadow-backdrop {
        display: none;
    }

    #loading-anim.in-view,    
    #shadow-backdrop.in-view {
        display: block;
    }

#loading-progress-bar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    pointer-events: none;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition:    width 0.15s ease-in-out;
    transition:         width 0.15s ease-in-out;
}

/* Page header w/logo */
header {
    border-bottom: 1px solid #666;
}

header img.logo-icon {
    display: inline-block;
    vertical-align: top;
    width: 89px;
    width: 89px;
    max-width: 20%;
    cursor: pointer;
}

header summary {
    display: inline-block;
    vertical-align: bottom;
    max-width: calc(100% - 150px);
}

    header summary h1 {
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
    }

    header summary p {
        color: #999;
        font-style: italic;
        font-size: 0.85em;
    }

nav#index-link {
    position: absolute;
    left: 120%;
    font-size: 0.8em;
    width: 200px;
    visibility: hidden;
    opacity: 0;
}

nav#index-link.in-view {
    left: 30px;
    visibility: visible;
    opacity: 1;
}

/* Package list */
#pkg-list-page {
    position: absolute;
    left: -120%;
    width: calc(100% - 60px);
    visibility: hidden;
    opacity: 0;
}

#pkg-list-page.in-view {
    left: 30px;
    visibility: visible;
    opacity: 1;
}

#pkg-list-page ol li a.pkg-list-name {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    min-width: 200px;
    max-width: 500px;
    font-weight: bold;
}

#pkg-list-page ol li span.pkg-list-desc {
    display: inline-block;
    vertical-align: top;
    width: calc(60% - 25px);
}

#pkg-list-page #last-updated {
    font-size: 0.85em;
    font-style: italic;
    color: #454549;
    text-align: right;
}

/* Package description and file list */
.pkg {
    position: absolute;
    left: 120%;
    width: calc(100% - 60px);
    visibility: hidden;
    opacity: 0;
}

.pkg.in-view {
    left: 30px;
    visibility: visible;
    opacity: 1;
}

.pkg .pkg-links label {
    display: inline-block;
    width: 80px;
}

.pkg .pkg-links select.pkg-version {
    width: calc(33% - 100px);
    min-width: 150px;
    font-size: 1em;
    background-color: #2d2d33;
    color: #ccc;
    border: 1px solid #808080;
}

/* Common lists */
ol {
    list-style-type: none;
    width: 100%;
    font-size: inherit;
}

    ol.nowrap li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.3em;
    }

    ol li {
        border-bottom: 1px solid #454549;
    }

    ol li:nth-child(even) {
        background-color: #26262b;
    }

    ol.highlight li:hover {
        background-color: #303035;
        cursor: pointer;
    }

    ol.font-mono li {
        font-size: 0.8em;
    }

/* Package file list specific */    
.pkg ol {
    display: none;
}

    .pkg ol.in-view {
        display: block;
    }

.pkg ol li button {
    float: right;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

    .pkg ol li button:hover {
        background-color: #800;
        color: #ccc;
    }

/* Popup messages */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

    .popup-container.center {
        background-color: rgba(26, 26, 26, 0.8);
    }

.popup-message {
    position: fixed;
    z-index: 1005;
    right: -120%;
    bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: #666;
    -webkit-transition: right 0.2s ease-in;
    -moz-transition: right 0.2s ease-in;
    transition: right 0.2s ease-in;
    pointer-events: none;
}

    .popup-container.center .popup-message {
        right: unset;
        bottom: unset;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        box-shadow: 0 0 30px #0a0a0a;
        background-color: #26262b;
        max-width: 80%;
        pointer-events: all;
    }

    .popup-container.center .popup-message button {
        position: relative;
        display: block;
        width: 60px;
        left: 50%;
        margin-left: -30px;
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid #666;
        padding: 5px;
        color: #fff;
        background-color: #000;
        cursor: pointer;
    }

    .popup-message.success {
        background-color: #072d07;
        border-color: #015601;
        color: #b7eab7;
    }

    .popup-message.error {
        background-color: #400b0b;
        border-color: #861111;
        color: #efdede;
    }

    .popup-message.in-view {
        right: 30px;
    }

    .popup-message button {
        display: none;
    }

/* Footer bar */
footer {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    color: #666;
    font-size: 70%;
}

    footer img {
        display: inline-block;
        vertical-align: text-bottom;
        height: 24px;
        margin: 2px 0;
    }

    footer p {
        display: inline-block;
        vertical-align: bottom;
        width: calc(100% - 110px);
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
    }

/* Basics */
.hidden  { display: none !important; }
.ib      { display: inline-block; }
.float-l { float: left; }
.float-r { float: right; }

/* Animations and transitions */
.transition-left {
    -webkit-transition: left 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    -moz-transition:    left 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    transition:         left 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
}

/* Reusable colors and font styles */
a:link,
a:visited          { color: #fff; text-decoration: none; }  
a:hover,
a:active           { color: #f00; text-decoration: none; }

.rustler-red          { color: #c00000; }
.rustler-red-bkg      { background-color: #c00000; }
.rustler-red-border   { border-color: #c00000; }

.rustler-gray         { color: #7f7f7f; }
.rustler-gray-bkg     { background-color: #7f7f7f; }
.rustler-gray-border  { border-color: #7f7f7f; }

.highlight-changes:not(ol),
.highlight-changes li span {
    animation-name: off-blue-off;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
  
@keyframes off-blue-off {
    0% {
        background-color: unset;
        color: unset;
    }
    10% {
        background-color: rgba(128, 128, 128, 0.35);
        color: #ffff99;
    }
    100% {
        background-color: unset;
        color: unset;
    }
}

.font-body {
    font-family: Arial, Helvetica, sans-serif;
}

.font-mono {
    font-family: "Roboto Mono", "Fira Code", Hack, Consolas, monospace;
}

.font-gothic {
    font-family: "URW Gothic L", "Century Gothic", "Apple Gothic", AppleGothic, "Avant Garde", Arial, Helvetica, sans-serif;
}

::selection {
    color: #000;
    background-color: rgba(98, 183, 226, 0.99);
    /* Must set background-color opacity to less than 100% or else 
    Webkit-based browsers will reduce it by half) */
}

/* Margins */
.margin-0  { margin: 0; }
.margin-20 { margin: 20px; }
.margin-25 { margin: 20px; }
.margin-30 { margin: 30px; }

.margin-5-b  { margin-bottom: 5px; }
.margin-5-t  { margin-top: 5px; }

.margin-10-l { margin-left: 10px; }
.margin-10-r { margin-right: 10px; }
.margin-10-b { margin-bottom: 10px; }
.margin-10-t { margin-top: 10px; }

.margin-15-b { margin-bottom: 15px; }
.margin-15-t { margin-top: 15px; }

.margin-25-l { margin-left: 25px; }
.margin-25-r { margin-right: 25px; }

.margin-30-b { margin-bottom: 30px; }
.margin-30-t { margin-top: 30px; }

.margin-40-b { margin-bottom: 40px; }
.margin-40-t { margin-top: 40px; }

/* Padding */
.padding-0  { padding: 0; }
.padding-5  { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-25 { padding: 25px; }
.padding-30 { padding: 30px; }

.padding-10-l { padding-left: 10px; }
.padding-10-r { padding-right: 10px; }
.padding-10-b { padding-bottom: 10px; }
.padding-10-t { padding-top: 10px; }

.padding-15-b { padding-bottom: 15px; }
.padding-15-t { padding-top: 15px; }

.padding-25-l { padding-left: 25px; }
.padding-25-r { padding-right: 25px; }

.padding-30-l { padding-left: 30px; }
.padding-30-r { padding-right: 30px; }
.padding-30-b { padding-bottom: 30px; }
.padding-30-t { padding-top: 30px; }

/* Loading animation (from https://loading.io/css) */
.lds-roller {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    z-index: 1001;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Light styles */
@media (prefers-color-scheme: light) {

    body {
        background-color: #fff;
        color: #333;
    }

    header {
        border-bottom: 1px solid #ccc;
    }

    header img.logo-icon {
        filter: contrast(60%);
    }

    header summary h1 {
        color: #808080;
    }

    header summary p {
        color: #666;
    }

    ol li:nth-child(even) {
        background-color: #eee;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    ol.highlight li:hover {
        background-color: #e0e0e0;
        cursor: pointer;
    }

    .pkg .pkg-links select.pkg-version {
        background-color: #fff;
        color: #000;
        border: 1px solid #999;
    }

    a:link,
    a:visited          { color: #3780a5; }  
    a:hover,
    a:active           { color: #62b7e2; }

    .pkg ol li button:hover {
        background-color: #8ac4e0;
        color: #fff;
    }

    #shadow-backdrop,
    .popup-container.center {
        background-color: rgba(26, 26, 26, 0.3);
    }

    .popup-message.success {
        background-color: #d4efd4;
        border-color: #65ad65;
        color: #015601;
    }

    .popup-message.error {
        background-color: #e2bcbc !important;
        border-color: #754d4d;
        color: #7b0000;
    }

    .popup-message.error button {
        background-color: #800 !important;
        border-color: #400 !important;
    }

    footer img {
        filter: invert() hue-rotate(180deg) brightness(1.5);
    }

}

@media (max-width: 640px) {

    header img.logo-icon,
    header summary {
        vertical-align: middle;
    }
    
    header summary h1 {
        font-size: 1.7em;
    }

    header summary p {
        display: none;
    }
    
    #pkg-list-page ol li {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #pkg-list-page ol li a.pkg-list-name,
    #pkg-list-page ol li span.pkg-list-desc {
        width: unset;
        display: block;
    }

    #pkg-list-page ol li span.pkg-list-desc {
        padding: 0;
        font-size: 85%;
        line-height: 140%;
    }

    ol.nowrap li {
        white-space: normal;
        overflow: scroll;
        text-overflow: unset;
        line-height: 2.3em;
    }

}